body { font-family: Arial }
#doc {
	font-family: Arial;
	background:#FEFFDA;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	border-width:1px;
	border-style:dotted;
	border-color:#465F91;
}
a:visited {color : #465F91; text-decoration : none; }
a:link {color : #465F91; text-decoration : none;}
a:hover {color : Red; text-decoration : none; background-color: #5FFF88}
a:active {color : Red; text-decoration : underline; }
.keyword { font-weight : bold ; color : Red }
.keywordsign { color : #C04600 }
.superscript { font-size : 4 }
.subscript { font-size : 4 }
.comment { color : Green }
.constructor { color : Blue }
.type { color : #5C6585 }
.string { color : Maroon }
.warning { color : Red ; font-weight : bold }
.info { margin-left : 3em; margin-right : 3em }
.code { color : #465F91 ; }
.module_title { color : #465F91;display:inline; }
h1 { font-size : 20pt ; text-align: center; }
h2 { font-size : 18pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90BDFF ;padding: 2px; }
h3 { font-size : 16pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90DDFF ;padding: 2px; }
h4 { font-size : 15pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90EDFF ;padding: 2px; }
h5 { font-size : 14pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90FDFF ;padding: 2px; }
h6 { font-size : 13pt ; border: 1px solid #CCCCCC; color:aliceblue; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #465F91; }
div.h7 { font-size : 12pt ; color:465F91;  padding: 2px; font-weight:bold;}
div.h8 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #F0FFFF ; padding: 2px; }
div.h9 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #FFFFFF ; padding: 2px; }
.typetable { border-style : hidden }
.indextable { border-style : hidden }
.paramstable { border-style : hidden ; padding: 5pt 5pt}
body { background-color : White }
tr { background-color : White }
th { 
	border-right-width: 1px; 
	border-right-style:dotted; 
	border-right-color:black; 
	border-bottom-width: 1px; 
	border-bottom-style:dotted; 
	border-bottom-color:black;
	border-top-width: 1px; 
	border-top-style:dotted; 
	border-top-color:black; 
}
th.first { 
	border-right-width: 1px; 
	border-right-style:dotted; 
	border-right-color:black; 
	border-bottom-width: 1px; 
	border-bottom-style:dotted; 
	border-bottom-color:black;
	border-top-width: 1px; 
	border-top-style:dotted; 
	border-top-color:black; 
	border-left-width: 1px; 
	border-left-style:dotted; 
	border-left-color:black; 
}

td.stats { 
	border-right-width: 1px; 
	border-right-style:dotted; 
	border-right-color:black; 
	border-bottom-width: 1px; 
	border-bottom-style:dotted; 
	border-bottom-color:black; 
}
td.first_stats { 
	border-right-width: 1px; 
	border-right-style:dotted; 
	border-right-color:black; 
	border-bottom-width: 1px; 
	border-bottom-style:dotted; 
	border-bottom-color:black; 
	border-left-width: 1px; 
	border-left-style:dotted; 
	border-left-color:black; 
}

td.total { 
        background-color: #DDDDDD;
	border-right-width: 1px;
	border-right-style:dotted; 
	border-right-color:black; 
	border-bottom-width: 1px; 
	border-bottom-style:dotted; 
	border-bottom-color:black; 
}
td.first_total { 
        background-color: #DDDDDD;
	border-right-width: 1px; 
	border-right-style:dotted; 
	border-right-color:black; 
	border-bottom-width: 1px; 
	border-bottom-style:dotted; 
	border-bottom-color:black; 
	border-left-width: 1px; 
	border-left-style:dotted; 
	border-left-color:black; 
}


td.typefieldcomment { background-color : #FFFFFF }
pre { margin-bottom: 4px }
div.sig_block {margin-left: 2em}
